@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --primary-color: #0f5238;
  --secondary-color: #657c6f;
  --tertiary-color: #634019;
  --neutral-color: #f8f9fa;
  --on-surface-color: #191c1d;
  --font-primary: "Plus Jakarta Sans", sans-serif;
  --font-secondary: "Inter", sans-serif;
}

html {
  font-family: var(--font-primary);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

.glass-panel {
  background: rgba(248, 249, 250, 0.7);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

body.body-container {
  display: flex;
  background-color: var(--neutral-color);
  color: var(--on-surface-color);
  min-height: 100vh;
  margin: 0;
}

.body-container aside {
  display: none;
  height: 100vh;
  width: 256px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #f8fafc;
  padding-top: 24px;
  padding-bottom: 24px;
  z-index: 40;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.title-app {
  font-size: 18px;
  line-height: calc(1.75 / 1.125);
  font-weight: 900;
  color: #006045;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}

.sidebar-container {
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 40px;
}

.sidebar-user {
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.sidebar-user-image {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  background-color: #007a55;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.sidebar-user-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p.user-name {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 14px;
  color: #007a55;
  line-height: calc(1.25 / 0.875);
}

p.user-description {
  font-family: var(--font-secondary);
  font-size: 10px;
  font-weight: 500;
  color: #62748e;
  /* margin-top: 2px; */
}

nav.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
}

nav.sidebar-nav > :not(:last-child) {
  margin-bottom: 4px;
}

.sidebar-nav .sidebar-menu {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #62748e;
  margin: 4px 8px 0px 8px;
  /* margin-left: 8px;
  margin-right: 8px; */
  padding: 12px 16px 12px 16px;
  border-radius: 9999px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  text-decoration: none;
}

.sidebar-nav .sidebar-menu:first-child {
  margin: 0px 8px 0px 8px;
}

.sidebar-nav .sidebar-menu:hover {
  background-color: #e2e8f0bf;
}

.sidebar-menu.active {
  background-color: #d0fae5bf;
  color: #006045;
}

.sidebar-down {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: auto;
  padding: 24px 16px;
  border-top: 0px solid;
}

.sidebar-down > :not(:last-child) {
  margin-bottom: 4px;
}

.sidebar-additional {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #90a1b9;
  margin-left: 8px;
  margin-right: 8px;
  padding: 12px 16px 12px 16px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  font-size: 12px;
  line-height: calc(1 / 0.75);
  text-decoration: none;
}

.sidebar-additional:hover {
  color: #009966;
}

.content-container {
  flex: 1;
  min-height: 100vh;
  background-color: #f3f4f5;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.top-menu-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px 0 32px;
  height: 64px;
  max-width: 80rem;
  margin-inline: auto;
}

.top-menu-label {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 20px;
  line-height: calc(1.75 / 1.25);
}

.top-menu-list {
  display: none;
  align-items: center;
  gap: 32px;
}

.menu {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 14px;
  line-height: calc(1.25 / 0.875);
  letter-spacing: -0.025em;
  color: #45556c;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  text-decoration: none;
}

.menu:hover {
  color: #009966;
}

.menu.active {
  color: #007a55;
  border-bottom: 2px solid #006045;
  padding-bottom: 4px;
}

.top-menu-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.scan-button {
  background-image: linear-gradient(to right, var(--primary-color), #2d6a4f);
  color: #ffffff;
  padding: 8px 20px 8px 20px;
  border-color: transparent;
  border-radius: 12px;
  font-size: 14px;
  line-height: calc(1.25 / 0.875);
  font-family: var(--font-primary);
  font-weight: 700;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.scan-button:hover {
  opacity: 90%;
  cursor: pointer;
  scale: 105% 105%;
}

.page-content-container {
  /* padding: 96px 32px 48px 32px; */
  padding: 96px 32px 98px 32px;
  flex: 1;
  /* padding: 40px; */
  max-width: 80rem;
  margin-inline: auto;
  overflow-y: auto;
}

.page-content-header {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  margin-bottom: 40px;
  /* gap: 24px; */
}

.page-content-label {
  color: var(--primary-color);
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 12px;
  line-height: calc(1 / 0.75);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background-color: #b1f0ce4d;
  padding: 4px 12px 4px 12px;
  border-radius: 9999px;
}

.page-content-headline {
  font-size: 2.25rem;
  font-family: var(--font-primary);
  font-weight: 800;
  color: #191c1d;
  margin-top: 16px;
  line-height: 1.25;
}

/* text-on-surface-variant max-w-lg mt-4 font-body leading-relaxed */
.page-content-description {
  color: #404943;
  max-width: 32rem;
  margin-top: 1rem;
  font-family: var(--font-secondary);
  line-height: 1.625;
}

@media (min-width: 1024px) {
  .top-menu-list {
    display: flex;
  }
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffffcc;
  backdrop-filter: blur(16px);
  padding: 16px 24px 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 50;
  box-shadow: 0 0 #0000 0 0 #0000 0 -4px 20px rgba(0, 0, 0, 0.05);
}

.bottom-nav-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  color: #90a1b9;
  background-color: transparent;
}

.bottom-nav-text {
  font-size: 10px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .body-container aside {
    display: flex;
    flex-direction: column;
  }

  .page-content-container {
    padding: 96px 32px 48px 32px;
  }

  .content-container {
    margin-left: 256px;
  }

  .top-menu-container {
    left: 256px;
  }

  /* .page-content-header {
    flex-direction: row;
    align-items: flex-end;
  } */

  .grid-content {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }

  .bottom-nav {
    display: none;
  }
}

.main-detection > :not(:last-child) {
  margin-bottom: 24px;
}

@media (min-width: 1024px) {
  .top-menu-list {
    display: flex;
  }

  .main-detection {
    grid-column: span 8 / span 8;
  }
}

.upload-content-container {
  background-color: #ffffff;
  border-radius: 24px;
  padding: 32px;
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    0 1px 0 rgb(0 0 0 / 0.05);
  border: 0px solid transparent;
  position: relative;
  overflow: hidden;
}

.upload-content-line {
  position: absolute;
  inset: 0px;
  background-color: #ecfdf533;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  pointer-events: none;
}

.upload-content-container:hover .upload-content-line {
  opacity: 1;
}

.upload-wrap {
  position: relative;
  z-index: 10;
  border: 2px dashed #bfc9c14d;
  border-radius: 16px;
  padding: 80px 40px 80px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.upload-wrap:hover {
  border-color: var(--primary-color);
}

.upload-icon-wrap {
  width: 80px;
  height: 80px;
  background-color: #b1f0ce66;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.upload-icon {
  color: var(--primary-color);
  font-size: 36px;
  line-height: calc(2.5 / 2.25);
}

.upload-text {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 20px;
  line-height: calc(1.75 / 1.25);
  color: #191c1d;
}

.upload-description {
  color: #404943;
  margin-top: 8px;
  font-size: 14px;
  line-height: calc(1.25 / 0.875);
}

.browse-file {
  color: var(--primary-color);
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #0f52384d;
}

.file-support {
  color: #707973;
  font-size: 10px;
  margin-top: 16px;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  font-weight: 700;
}

.scan-camera {
  background-color: var(--primary-color);
  overflow: hidden;
  border-radius: 24px;
  position: relative;
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.scan-camera:hover {
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.scan-camera-wrap {
  position: relative;
  z-index: 10;
  max-width: 320px;
}

.scan-camera-headline {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 24px;
  line-height: calc(2 / 1.5);
  color: #ffffff;
}

.scan-camera-description {
  color: #b1f0cecc;
  font-size: 14px;
  line-height: calc(1.25 / 0.875);
  margin-top: 8px;
}

.scan-camera-button {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #ffffff;
  color: var(--primary-color);
  padding: 12px 24px 12px 24px;
  border-radius: 9999px;
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(1.25 / 0.875);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.scan-camera-button:active {
  scale: 95%;
}

.scan-camera:hover .scan-camera-button {
  scale: 105%;
  cursor: pointer;
}

.image-scan-wrap {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  opacity: 20%;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.scan-camera:hover .image-scan-wrap {
  opacity: 40%;
}

.image-scan {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
