<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Camera Scanner</h2>

    <!-- Pilih kamera -->
    <select id="cameraSelect"></select>

    <!-- Video preview -->
    <video id="video" autoplay playsinline></video>

    <!-- Tombol capture -->
    <button id="capture">Capture</button>

    <!-- Hasil capture -->
    <canvas id="canvas"></canvas>

    <script src="/static/js/camera.js"></script>
  </body>
</html>
