<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/main.css" />
    <!-- <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    /> -->
  </head>
  <body class="body-dashboard">
    <aside>
      <div class="sidebar-container">
        <h1 class="title-app">WasteWise AI</h1>
        <div class="sidebar-user">
          <div class="sidebar-user-image">
            <img
              class="image-user"
              data-alt="image-user"
              src="https://lh3.googleusercontent.com/aida-public/AB6AXuABPbkGCBVLarOCWthv14h3c4QQMf4JVpstlc-Da9qiYctuiUGB6qZAh92dDxZ28oJypTiz3Qyn7D9LYSBeXuv27Gu4pdszTV1Nt6j0N8pduno1fpZydxNM7Rgm0gawMTFxh4AASyCndEA7PxR5zDCasWG5EJrMxcX20Mt4Xv12aDij_3wJRe1G0vMHw8011cRzwEojF1LfTMSn4r5rmKIoA9tprjwPKeMdAXyrln_on8gvsEkoezrW2LJnkLWE5awpdUSCD1Zq60Ey"
            />
          </div>
          <div>
            <p class="user-name">Eco Guardian</p>
            <p class="user-description">lvl 12345</p>
          </div>
        </div>
      </div>
      <nav class="sidebar-nav">
        <a class="sidebar-menu" href="/dashboard">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M13 9V3h8v6zM3 13V3h8v10zm10 8V11h8v10zM3 21v-6h8v6zm2-10h4V5H5zm10 8h4v-6h-4zm0-12h4V5h-4zM5 19h4v-2H5zm4-2"
            />
          </svg>
          <span class="font-headline font-medium text-sm">Dashboard</span>
        </a>
        <a class="sidebar-menu" href="/scan">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M12 17.5q1.875 0 3.188-1.312T16.5 13t-1.312-3.187T12 8.5T8.813 9.813T7.5 13t1.313 3.188T12 17.5m0-2q-1.05 0-1.775-.725T9.5 13t.725-1.775T12 10.5t1.775.725T14.5 13t-.725 1.775T12 15.5M4 21q-.825 0-1.412-.587T2 19V7q0-.825.588-1.412T4 5h3.15L9 3h6l1.85 2H20q.825 0 1.413.588T22 7v12q0 .825-.587 1.413T20 21z"
            />
          </svg>
          <span class="font-headline font-medium text-sm">Scan</span>
        </a>
        <a class="sidebar-menu" href="/history">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M12 21q-3.45 0-6.012-2.287T3.05 13H5.1q.35 2.6 2.313 4.3T12 19q2.925 0 4.963-2.037T19 12t-2.037-4.962T12 5q-1.725 0-3.225.8T6.25 8H9v2H3V4h2v2.35q1.275-1.6 3.113-2.475T12 3q1.875 0 3.513.713t2.85 1.924t1.925 2.85T21 12t-.712 3.513t-1.925 2.85t-2.85 1.925T12 21m2.8-4.8L11 12.4V7h2v4.6l3.2 3.2z"
            />
          </svg>
          <span class="font-headline font-medium text-sm">History</span>
        </a>
      </nav>
      <div class="sidebar-down">
        <a class="sidebar-additional" href="/settings">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="m9.25 22l-.4-3.2q-.325-.125-.612-.3t-.563-.375L4.7 19.375l-2.75-4.75l2.575-1.95Q4.5 12.5 4.5 12.338v-.675q0-.163.025-.338L1.95 9.375l2.75-4.75l2.975 1.25q.275-.2.575-.375t.6-.3l.4-3.2h5.5l.4 3.2q.325.125.613.3t.562.375l2.975-1.25l2.75 4.75l-2.575 1.95q.025.175.025.338v.674q0 .163-.05.338l2.575 1.95l-2.75 4.75l-2.95-1.25q-.275.2-.575.375t-.6.3l-.4 3.2zM11 20h1.975l.35-2.65q.775-.2 1.438-.587t1.212-.938l2.475 1.025l.975-1.7l-2.15-1.625q.125-.35.175-.737T17.5 12t-.05-.787t-.175-.738l2.15-1.625l-.975-1.7l-2.475 1.05q-.55-.575-1.212-.962t-1.438-.588L13 4h-1.975l-.35 2.65q-.775.2-1.437.588t-1.213.937L5.55 7.15l-.975 1.7l2.15 1.6q-.125.375-.175.75t-.05.8q0 .4.05.775t.175.75l-2.15 1.625l.975 1.7l2.475-1.05q.55.575 1.213.963t1.437.587zm1.05-4.5q1.45 0 2.475-1.025T15.55 12t-1.025-2.475T12.05 8.5q-1.475 0-2.488 1.025T8.55 12t1.013 2.475T12.05 15.5M12 12"
            />
          </svg>
          <span>Settings</span>
        </a>
        <a class="sidebar-additional" href="/support">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M12.838 17.638q.362-.363.362-.888t-.362-.888t-.888-.362t-.887.363t-.363.887t.363.888t.887.362t.888-.363M11.05 14.15h1.85q0-.825.188-1.3t1.062-1.3q.65-.65 1.025-1.238T15.55 8.9q0-1.4-1.025-2.15T12.1 6q-1.425 0-2.312.75T8.55 8.55l1.65.65q.125-.45.563-.975T12.1 7.7q.8 0 1.2.438t.4.962q0 .5-.3.938t-.75.812q-1.1.975-1.35 1.475t-.25 1.825M12 22q-2.075 0-3.9-.787t-3.175-2.138T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8"
            />
          </svg>
          <span>Support</span>
        </a>
      </div>
    </aside>

    <div class="dashboard-container">
      <!-- TopMenu -->
      <header class="top-menu-container glass-panel">
        <div class="top-menu">
          <h2 class="top-menu-label">Trash Detection</h2>
          <div class="top-menu-list">
            <a class="menu" href="/">Home</a>
            <a class="menu" href="/sorting-guide">Sorting Guide</a>
            <a class="menu" href="/history">Detection History</a>
          </div>
          <div class="top-menu-right">
            <button class="scan-button">Start Scan</button>
          </div>
        </div>
      </header>

      <!-- Page Content -->
      <main class="page-content-container">
        <div class="page-content-header">
          <div>
            <h1 class="page-content-greeting">Morning, Alex.</h1>
            <p class="page-conten-subline">
              Let's identify organic and non-organic waste automatically with AI
              for better waste management.
            </p>
          </div>
        </div>

        <!-- Grid Layout -->
        <div class="grid-content">
          <div class="grid-content-wrap">
            <div class="grid-content-group-identify">
              <div class="identify-image-wrap">
                <img
                  alt="waste collection bin"
                  class="identify-image"
                  src="https://lh3.googleusercontent.com/aida-public/AB6AXuBPmfPtaspsla9SnwmIQ95FdTFl2hNVQ8O_9Hc-At__9EWJqLzdrPXhQ5YMFQkHPOpMzCyZ2K1id3abmyLrDudfS0ft-c5A6MbLZJhBdtsor1-4nCfaqXRSlroYs8PccPOCOzKPs82JKfvlFL1GJbj9QHpioFbEE-9DjyYJt6g4i63sA_vxdIXjO73Xu3ZAayxtCVcqtMLNvYLt-aAfFtph_YY6v7Nvhhxj1vuMFJUZPy-PPhKsfsBrG_J_WTqMBg0r_Pd5tWS6y9VC"
                />
              </div>
              <div class="identify-text">
                <h3>Identify Waste</h3>
                <p>
                  Use our precision AI to instantly identify materials and
                  sorting categories.
                </p>
                <button class="identify-button">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="currentColor"
                      d="M12 17.5q1.875 0 3.188-1.312T16.5 13t-1.312-3.187T12 8.5T8.813 9.813T7.5 13t1.313 3.188T12 17.5m0-2q-1.05 0-1.775-.725T9.5 13t.725-1.775T12 10.5t1.775.725T14.5 13t-.725 1.775T12 15.5M4 21q-.825 0-1.412-.587T2 19V7q0-.825.588-1.412T4 5h3.15L9 3h6l1.85 2H20q.825 0 1.413.588T22 7v12q0 .825-.587 1.413T20 21zm0-2h16V7h-4.05l-1.825-2h-4.25L8.05 7H4zm8-6"
                    />
                  </svg>
                  Start New Scan
                </button>
              </div>
            </div>
            <div class="grid-content-group-guide">
              <div>
                <div class="guide-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="currentColor"
                      d="M14 9.9V8.2q.825-.35 1.688-.525T17.5 7.5q.65 0 1.275.1T20 7.85v1.6q-.6-.225-1.213-.337T17.5 9q-.95 0-1.825.238T14 9.9m0 5.5v-1.7q.825-.35 1.688-.525T17.5 13q.65 0 1.275.1t1.225.25v1.6q-.6-.225-1.213-.338T17.5 14.5q-.95 0-1.825.225T14 15.4m0-2.75v-1.7q.825-.35 1.688-.525t1.812-.175q.65 0 1.275.1T20 10.6v1.6q-.6-.225-1.213-.338T17.5 11.75q-.95 0-1.825.238T14 12.65M6.5 16q1.175 0 2.288.263T11 17.05V7.2q-1.025-.6-2.175-.9T6.5 6q-.9 0-1.788.175T3 6.7v9.9q.875-.3 1.738-.45T6.5 16m6.5 1.05q1.1-.525 2.213-.787T17.5 16q.9 0 1.763.15T21 16.6V6.7q-.825-.35-1.713-.525T17.5 6q-1.175 0-2.325.3T13 7.2zM12 20q-1.2-.95-2.6-1.475T6.5 18q-1.05 0-2.062.275T2.5 19.05q-.525.275-1.012-.025T1 18.15V6.1q0-.275.138-.525T1.55 5.2q1.15-.6 2.4-.9T6.5 4q1.45 0 2.838.375T12 5.5q1.275-.75 2.663-1.125T17.5 4q1.3 0 2.55.3t2.4.9q.275.125.413.375T23 6.1v12.05q0 .575-.487.875t-1.013.025q-.925-.5-1.937-.775T17.5 18q-1.5 0-2.9.525T12 20m-5-8.35"
                    />
                  </svg>
                </div>
                <h3 class="guide-headline">Sorting Guide</h3>
                <p class="guide-description base">
                  A guide to sorting waste. Learn how to separate organic and
                  inorganic
                  <span
                    class="guide-more"
                    data-full="A guide to sorting waste. Learn how to separate organic and
                  inorganic waste for a cleaner, healthier environment."
                    >more...</span
                  >
                </p>
                <p class="guide-description desktop">
                  A guide to sorting waste. Learn how to separate organic and
                  inorganic waste for a cleaner, healthier environment.
                </p>
              </div>
              <a class="view-guide" href="#">
                View Guide
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="18"
                  height="18"
                  viewBox="0 0 24 24"
                  class="icon-view-guide"
                >
                  <path
                    fill="currentColor"
                    d="M16.175 13H4v-2h12.175l-5.6-5.6L12 4l8 8l-8 8l-1.425-1.4z"
                  />
                </svg>
              </a>
            </div>
          </div>
          <div class="grid-recent-scans">
            <div class="recent-scans-header">
              <h3 class="recent-scans-headline">Recent Scans</h3>
              <button class="recent-scans-view-all">View All</button>
            </div>
            <div class="recent-scans-table">
              <div class="recent-scans-data">
                <div class="recent-scans-image-wrap">
                  <img
                    alt="name"
                    class="recent-scans-image"
                    src="https://lh3.googleusercontent.com/aida-public/AB6AXuBXq2kU9N_l6VbP4NS-uCVqRFY7zP-N-nWgl6kVxoWafId0X6fxJU69NcrE1lG9JqRHdikuvoMnL69ei9i1YIZHwXa1rWBpnuVXD4x-Co0Oxx1p1uoW0ZbCx1IiXcLXbqFp4TRiqRpqFeXtmtdyQoMss_HNmDvtHIUV0nXNVtke1tKPEb5YXAqYgvd8P0R7qgFK88mSVo9lHHkprwlo2KSi4tugOYqGhKHgacAvGeT0Y4_11y-hdB1iUx9_uH1TAZUTKKR6IEfXjCD3"
                  />
                </div>
                <div class="recents-scans-detail">
                  <h4 class="scans-type">Non-Organik</h4>
                  <div class="scans-info">
                    <span class="scans-accuracy">98%</span>
                    <span class="scans-time">2 mins ago</span>
                  </div>
                </div>
                <div class="scans-more-detail">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    class="more-icon"
                  >
                    <path
                      fill="currentColor"
                      d="M12.6 12L8 7.4L9.4 6l6 6l-6 6L8 16.6z"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <!-- Mobile Navigation -->
    <nav class="bottom-nav">
      <button class="bottom-nav-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M13 9V3h8v6zM3 13V3h8v10zm10 8V11h8v10zM3 21v-6h8v6zm2-10h4V5H5zm10 8h4v-6h-4zm0-12h4V5h-4zM5 19h4v-2H5zm4-2"
          />
        </svg>
        <span class="bottom-nav-text">Dashboard</span>
      </button>
      <button class="bottom-nav-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M12 17.5q1.875 0 3.188-1.312T16.5 13t-1.312-3.187T12 8.5T8.813 9.813T7.5 13t1.313 3.188T12 17.5m0-2q-1.05 0-1.775-.725T9.5 13t.725-1.775T12 10.5t1.775.725T14.5 13t-.725 1.775T12 15.5M4 21q-.825 0-1.412-.587T2 19V7q0-.825.588-1.412T4 5h3.15L9 3h6l1.85 2H20q.825 0 1.413.588T22 7v12q0 .825-.587 1.413T20 21z"
          />
        </svg>
        <span class="bottom-nav-text">Scan</span>
      </button>
      <button class="bottom-nav-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M12 21q-3.45 0-6.012-2.287T3.05 13H5.1q.35 2.6 2.313 4.3T12 19q2.925 0 4.963-2.037T19 12t-2.037-4.962T12 5q-1.725 0-3.225.8T6.25 8H9v2H3V4h2v2.35q1.275-1.6 3.113-2.475T12 3q1.875 0 3.513.713t2.85 1.924t1.925 2.85T21 12t-.712 3.513t-1.925 2.85t-2.85 1.925T12 21m2.8-4.8L11 12.4V7h2v4.6l3.2 3.2z"
          />
        </svg>
        <span class="bottom-nav-text">Scan</span>
      </button>
      <button class="bottom-nav-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M12 20q-.825 0-1.412-.587T10 18t.588-1.412T12 16t1.413.588T14 18t-.587 1.413T12 20m0-6q-.825 0-1.412-.587T10 12t.588-1.412T12 10t1.413.588T14 12t-.587 1.413T12 14m0-6q-.825 0-1.412-.587T10 6t.588-1.412T12 4t1.413.588T14 6t-.587 1.413T12 8"
          />
        </svg>
        <span class="bottom-nav-text">More</span>
      </button>
    </nav>
    <script>
      const links = document.querySelectorAll(".sidebar-menu");
      const currentPage = window.location.pathname;

      links.forEach((link) => {
        if (link.getAttribute("href") === currentPage) {
          link.classList.add("active");
        }
      });
    </script>
  </body>
</html>
